:root {
	--scene-color: #1e1e1e;
	--sidebar-color: #222222; // #2c3e50;

	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
}

body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	font-weight: 300;
	// background-color: #f6f7fb;
	// color: #2c3e50;

	// background-color: #f5f8ff;
	background-color: var(--scene-color);
	color: #071b3e;
}
